body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd5be;
}

.headerImage {
    width: 100%;
    z-index: 0;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 130px;
  margin-bottom: 0px;
}

h2 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 130px;
  margin-bottom: 0px;
}

.grow {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
